body {
    background-color: black;
    color: white;
}

#box {
    height: 500px;
    width: 500px;
    align-items: center;
    margin: 50px auto;
    margin-top: 100px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: blue;
}

.grid div {
    width: 100px;
    height: 100px;
    background-color: blue;
    font-size: 60px;
    text-align: center; 
    font-weight: bold;
}